html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    color: #363636;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    color: white;
    
    background-color: black;
    background-image: 
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    
    padding: 0 40px;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

input {
    width: 50vw;
    height: 46px;
    border-radius: 6px 0px 0px 6px;
    border-right: none;
    padding: 0 20px;
}

button {
    height: 50px;
    width: 150px;
    margin: 0;
    padding: 9px 11px;
    border-radius: 0 6px 6px 0;
    text-align: center;
    cursor: pointer;
}

p {
    margin: 0;
}

#movie-container {
    display: flex;
    flex-direction: column;
    
}

.initial-img {
    width: 200px;
    padding-top: 100px;
    margin: 0 auto;
}

.movie-container {
    display: flex;
    gap: 20px;
    margin: 30px 30px 0 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px grey;
}

.nothing {
    color: grey;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
}

.movie-poster {
    margin: auto 0;
}

.title {
    font-weight: bold;
    margin: 6px 0;
}

.rating {
    margin: 10px 0;
}

.runtime-genre {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.plot {
    color: grey;
}

#watchlist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-watchlist {
    cursor: pointer;
}

.add-watchlist:hover {
    color: red;
}

.add-to-watchlist-text {
    color: black;
    margin: 0 auto;
}